* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  grid-gap: 20px; /*habe ich hinzugefügt, muss wohl wieder wech*/
  max-width: 600px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 112.5%;
  padding: 15px; /*habe ich hinzugefügt, muss wohl wieder wech*/
}
