.lh-15 {
  line-height: 1.3;
}

.btn {
  background: #fc6f03;
  color: white;
  width: 200px;
  border-radius: 50px;
  border: none;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  font-size: 110%;
}

.mgn-top-20 {
  margin-top: 20px;
}

.mgn-bottom-20 {
  margin-bottom: 20px;
}

.pd-10 {
  padding: 10px;
}

.block-center-100 {
  display: block;
  width: 100%;
}

.red-text {
  color: darkorange;
}

.scrolling {
  overflow-y: scroll;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
