.profile-card {
  display: grid;
  padding-top: 10px;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.profil-card__name {
  color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 1.2;
}

.profile__img {
  border-radius: 1000px;
  width: 85%;
  margin: 0 auto;
  border: lightgrey solid 2px;
}

.card {
  background: white;
  border-radius: 5px;
  padding: 0 20px;
  position: relative;
}

.card__title {
  color: #fc6f03;
}

.card__icon {
  position: absolute;
  transform: scale(2);
  top: -3px;
  right: 10px;
}
