.tag-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-position: outside;
  padding: 0;
}

.tag-list > li {
  background: #333;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
